/* * {
  border: 1px solid black;
  padding: 0;
  margin: 0;
}
.container-fluid {
  background-color: rgb(233, 68, 131);
}
.col-1,
.col-2,
.col-3 {
  text-align: center;
  /*   height: 50px; */
}
.col {
  text-align: center;
} */

/*Exo2

* {
  /* border: 1px solid black; */
  padding: 0;
  margin: 0;
}
.container-fluid {
  text-align: center;
}
[class^="col"] {
  background-color: rgb(226, 43, 186);
  border: 1px solid black;
  border-radius: 5px;
}